.loadingContain {
    border-radius: 100px;
    position: absolute;
    padding: 0 5px;
    height: 30px;
    width: 400px;
    margin-top: 400px;
    display: flex;
    align-items: center;
    margin-left: 33.33%;
    border: 4px solid darkcyan;
}

.loading {
    animation: load 4s normal forwards;
    box-shadow: 0 0 10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 22.5px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}