@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.linkTitle {
    text-decoration: none;
}

.title {
    font-family: 'Rampart One', cursive;
    color: #ba7450;
    font-size: 45px;
    margin-top: 10px;
    width: 195px;
}

.radios {
    color: white;
    font-size: 25px;
    font-family: 'Ubuntu Mono', monospace;
}

.radios label {
    /* display: inline-flex; */
    /* align-items: center; */
    margin-right: 20px;
    cursor: pointer;
    /* background-color: darkorange; */
}

.radios input {
    margin-right: 5px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    /* display: none; */
}


/* .radios label::before {
    height: 12px;
    width: 12px;
    content: "";
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
} */


/* input[type="radio"]:checked+label {
    background-color: transparent;
    color: white;
}

input[type="radio"]:checked+label::before {
    height: 7px;
    width: 7px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: darkorange;
} */

.inputBox {
    margin-top: 20px;
    font-family: 'Abel', sans-serif;
    margin-bottom: 23.5px;
}

.inputArea {
    position: relative;
}

.inputBox form {
    display: flex;
    font-family: 'Abel', sans-serif;
}

.inputBox input {
    font-family: 'Abel', sans-serif;
    width: 300px;
    height: 35px;
    font-size: 20px;
    border-radius: 3px;
    border: 3px solid #f0eeeb;
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
}

.inputBox i {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    cursor: pointer;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.inputBox input:focus {
    border: 3px solid #fd9b08;
    outline: none;
    transition: 0.25s ease-in;
}

.inputBox button {
    margin: auto;
    /* margin-top: 7px;*/
    margin-left: 10px;
    width: 120px;
    height: 40px;
    font-size: 17.5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.inputBox button:hover {
    background-color: skyblue;
    color: black;
}

#errorDisplay {
    display: none;
    color: red;
    font-size: 18px;
}